body {
  margin: 0;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.9251050762101716) 35%, rgba(2,20,24,0.8662815467984069) 100%);
  color: aquamarine;
}




